.container{
  max-width: $website-width;
  padding: 0 1.5rem;
  margin: auto;
  overflow: hidden;
}

%btn-shared{
  display: inline-block;
  padding: 0.8rem 2rem;
  transition: all 0.5s;
  border: none;
  cursor: pointer;
}

%btn-hover{
  background-color: $main-color;
}

.btn{
  &-main{
    @extend %btn-shared;
    color: $dark-color;
    background-color: $main-color;
    &:hover{@extend %btn-hover}
    
  }
  &-light{
      @extend %btn-shared;
      color: $dark-color;
      background-color: $light-color;
      &:hover{@extend %btn-hover}

    }
  &-dark{
        @extend %btn-shared;
        color: $light-color;
        background-color: $dark-color;
        &:hover{@extend %btn-hover}
      }
}


.lead{
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.text-center{
  text-align: center;
}
